@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* webpage-colors */
  --color-one: #272a31;
  --color-two: #ec5242;
  --color-three: #d3d3d3;
  --color-four: #5e5e5e;
  --color-five: #f7f7f7;

  /* webpage-fonts */
  --font-one: 'COCOGOOSE', sans-serif;
  --font-two: 'Lato', sans-serif;
}

body {
  background-image: url(../images/background/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-two);
  color: var(--color-four);
}

.toggle-menu {
  position: fixed;
  background-color: transparent;
  padding: 20px;
}

.headline-section {
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
}

.headline-container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.welcome-phrase {
  color: var(--color-two);
  font-family: var(--font-two);
  font-weight: normal;
  font-size: 2em;
}

.headline-title {
  font-family: var(--font-one);
  font-size: 3em;
  line-height: 50px;
  background-image: url(../images/background/sven-mieke-fteR0e2BzKo-unsplash.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: #ff19008a;
}

.headline-section p {
  color: var(--color-four);
  font-family: var(--font-two);
  font-weight: bold;
}

.paragraph-border {
  background-color: white;
  color: var(--color-four);
  border: 1px solid var(--color-three);
  padding: 15px;
  font-family: var(--font-two);
  font-weight: bold;
  margin: 20px 0;
}

.email-address {
  font-family: var(--font-two);
  color: var(--color-one);
  font-weight: 900;
}

.red-border {
  border-bottom: 1px solid var(--color-two);
  height: 20px;
  width: 50px;
  margin: auto;
}

.creative-section {
  text-align: center;
  background-color: white;
  border-bottom: 2px solid var(--color-three);
  padding: 40px;
}

.creative-title {
  color: var(--color-four);
}

.creative-paragraph {
  padding: 30px;
}

.creative-img-div {
  margin: auto;
  max-width: 375px;
}

.creative-img {
  border: 1px solid var(--color-three);
  padding: 50px 20px;
  min-width: 100%;
}

.past-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 40px;
}

.past-title {
  color: var(--color-four);
}

.past-paragraph {
  padding: 30px;
}

.past-images-div {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 20px;
}

.partners-section {
  text-align: center;
  color: white;
  background-color: var(--color-one);
  padding: 40px;
}

.partners-title {
  color: var(--color-five);
}

.partners-div {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;
}

.logo1 {
  width: 20%;
}

.logo2 {
  width: 20%;
  filter: saturate(0);
}

.footer-section {
  background-color: white;
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 40px;
}

.footer-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-four);
}
