@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* webpage-colors */
  --color-one: #272a31;
  --color-two: #ec5242;
  --color-three: #d3d3d3;
  --color-four: #5e5e5e;
  --color-five: #f7f7f7;

  /* webpage-fonts */
  --font-one: 'COCOGOOSE', sans-serif;
  --font-two: 'Lato', sans-serif;
}

.toggle-menu {
  position: fixed;
  background-color: transparent;
}

.headline-section {
  display: flex;
  flex-direction: column;
  background-image: url(../images/background/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.headline-container {
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.welcome-phrase {
  color: var(--color-two);
  font-family: var(--font-two);
  font-weight: normal;
  font-size: 2em;
}

.headline-title {
  font-family: var(--font-one);
  font-size: 3em;
  line-height: 50px;
  background-image: url(../images/background/sven-mieke-fteR0e2BzKo-unsplash.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: #ff19008a;
}

.headline-section p {
  background-color: var(--color-five);
  font-family: var(--font-two);
  font-weight: bold;
}

.paragraph-border {
  background-color: var(--color-five);
  color: var(--color-four);
  border: 3px solid white;
  padding: 15px;
  font-family: var(--font-two);
  font-weight: bold;
  margin: 20px 0;
}

.headline-date {
  color: var(--color-one);
  font-family: var(--font-one);
  font-size: 2em;
}

.program-section {
  background-color: var(--color-one);
  background-image: url(../images/background/pattern_bg.png);
  margin: auto;
  text-align: center;
  padding: 20px;
  font-family: var(--font-two);
}

.program-title {
  color: var(--color-three);
  padding-top: 40px;
}

.red-border {
  border-bottom: 1px solid var(--color-two);
  height: 20px;
  width: 50px;
  margin: auto;
}

.program-cards {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  font-family: var(--font-two);
}

.program-cards h3 {
  color: var(--color-two);
  font-family: var(--font-two);
}

.program-cards p {
  color: var(--color-three);
}

.cards {
  padding: 25px;
  background-color: rgba(128, 128, 128, 0.2);
  display: flex;
  gap: 25px;
  align-items: center;
}

.program-button {
  background-color: var(--color-two);
  color: white;
  font-family: var(--font-two);
  font-weight: bold;
  font-size: 1em;
  border: none;
  padding: 30px 50px;
}

.speakers-section {
  text-align: center;
  font-family: var(--font-two);
}

.speakers-title {
  color: var(--color-one);
  padding-top: 40px;
}

.speakers {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.speaker-div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.speaker-img-div {
  width: auto;
  height: auto;
}

.texts-div {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.speaker-job {
  color: var(--color-two);
  font-style: italic;
}

.speaker-border-div {
  border-bottom: 2px solid var(--color-three);
  width: 30px;
  height: 15px;
}

.speaker-description {
  margin-top: 25px;
  color: var(--color-four);
  font-weight: bold;
}
